[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./monty/appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./none

# Name of the bot in-game
name = Psyonix Bot

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Psyonix

# Short description of the bot
description = Blank

# Fun fact about the bot
fun_fact = 

# Link to github repository
github = 

# Programming language
language = 
